* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkkhaki;
}
#canvas {
  background: linear-gradient(180deg, red, green, blue) no-repeat;
  border: 3px solid black;
  width: 500px;
  height: 800px;
  
}