* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#canvas {
  background: url(./resources/nature.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  border: 3px solid black;
}